---
import MainLayout from '../../layouts/MainLayout.astro'
import PostList from '../../components/PostList.astro'
---

<MainLayout title='All Posts'>
  <article>
    <h1>All Posts</h1>
    <PostList />
  </article>
</MainLayout>
