/* https://dev.37signals.com/modern-css-patterns-and-techniques-in-campfire/ */

body {
  --primary: 280;
  --primary-color: 15% 0.5 var(--primary);
  --bg-color: 100% 0.025 var(--primary);
  --txt-color: 5% 0.25 var(--primary);

  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  color: oklch(var(--txt-color));
  background-color: oklch(var(--bg-color));
}

h1,h2,h3,h4,h5,h6,p,ul,blockquote,figure {
  margin: 0;
}

:is(a, button):focus-visible {
  outline: 2px solid oklch(var(--txt-color));
  border-radius: 4px;
}

a {
  color: oklch(var(--primary-color));
  text-decoration: none;
  font-style: italic;
  border-radius: 4px;

  &:hover, &:focus-visible {
    text-decoration: 2px solid underline oklch(var(--primary-color));
  }
}

code {
  font-size: 1.2rem;
}

header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px dashed oklch(var(--primary-color));
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 1200px;
}

pre {
  max-width: fit-content;
  padding: 16px;
  border-radius: 4px;
}

hr {
  border: none;
  border-bottom: 2px solid oklch(var(--txt-color) / 25%);
  width: 100%;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-link-holder {
  display: flex;
  align-items: center;
  gap: 8px;

  .post-link {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.tag-list {
  display: flex;
  gap: 8px;
}

.chip {
  --chip-color: var(--txt-color);
  font-size: 1rem;
  padding: 2px 4px;
  background-color: oklch(var(--chip-color) / 10%);
  color: oklch(var(--chip-color));
  border: 1px solid oklch(var(--chip-color));
  border-radius: 8px;

  &.primary {
    --chip-color: var(--primary-color);
  }
}

figure {
  --figure-color: var(--txt-color);
  background-color: oklch(var(--figure-color) / 10%);
  color: oklch(var(--txt-color));
  border: 1px solid oklch(var(--figure-color));
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;

  blockquote {
    border-left: 1px solid oklch(var(--figure-color) / 50%);
    padding-left: 8px;
    margin-left: 8px;
  }
}

@media (max-width: 100ch) {
  h1,h2,h3,h4,h5,h6 {
    font-size: 1.2rem;
  }
  body,a,code {
    font-size: 1rem;
  }
  header h1 a {
    font-size: 1.6rem;
  }
  .chip {
    font-size: 0.6rem;
  }
  ul {
    padding-inline-start: 16px;
  }
}
