body {
  --primary: 280;
  --primary-color: 15% 0.5 var(--primary);
  --bg-color: 100% 0.025 var(--primary);
  --txt-color: 5% 0.25 var(--primary);

  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair', ui-serif, serif;
  font-size: 1.5rem;
  color: oklch(var(--txt-color));
  background-color: oklch(var(--bg-color));
}

h1,h2,h3,h4,h5,h6,p,ul,blockquote,figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', ui-serif, serif;
}

:is(a, button, pre, summary):focus-visible {
  outline: 2px solid oklch(var(--txt-color));
  border-radius: 4px;
}

summary {
  cursor: pointer;
}

pre:focus-visible {
  outline-offset: 2px;
}

a {
  color: oklch(var(--primary-color));
  text-decoration: none;
  /* font-style: italic; */
  border-radius: 4px;

  &:hover, &:focus-visible {
    text-decoration: 2px solid underline oklch(var(--primary-color));
  }
}

code {
  font-size: 1.2rem;
  font-family: 'IBM Plex Mono', ui-monospace, monospace;
}

header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 1200px;

  img {
    max-width: 100%;
    height: auto;
  }
}

pre {
  max-width: fit-content;
  padding: 16px;
  border-radius: 4px;
}

hr {
  border: none;
  border-bottom: 2px solid oklch(var(--txt-color) / 25%);
  width: 100%;
}

.smallcaps {
  font-family: 'Playfair Display SC', ui-serif;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-link-holder {
  display: flex;
  align-items: center;
  gap: 8px;

  .post-link {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 600px;
}

.chip {
  font-family: 'Playfair Display SC', ui-serif, serif;
  --chip-color: var(--txt-color);
  font-size: 1.2rem;
  padding: 2px 4px;
  background-color: oklch(var(--chip-color) / 10%);
  color: oklch(var(--chip-color));
  border: 1px solid oklch(var(--chip-color));
  border-radius: 4px;
  text-decoration-color: oklch(var(--chip-color)) !important;

  &.primary {
    --chip-color: var(--primary-color);
  }
}

.hero-container {
  display: flex;
  flex-wrap: wrap;

  & > * {
    border-right: 2px dashed oklch(var(--txt-color) / 25%);
    &:last-child {
      border-right: none;
    }
    min-width: min(90vw, 400px);
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

figure {
  --figure-color: var(--txt-color);
  background-color: oklch(var(--figure-color) / 10%);
  color: oklch(var(--txt-color));
  border: 1px solid oklch(var(--figure-color));
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;

  blockquote {
    border-left: 1px solid oklch(var(--figure-color) / 50%);
    padding-left: 8px;
    margin-left: 8px;
  }

  figcaption {
    cite {
      margin-left: 8px;
      &::before {
        content: '— ';
      }
    }
  }
}

details {
  border: 1px solid oklch(var(--txt-color));
  padding: 8px;
  border-radius: 8px;
  background-color: oklch(var(--txt-color) / 10%);
}

table {
  border-collapse: collapse;
  width: fit-content;

  tr {
    border-bottom: 1px dashed oklch(var(--txt-color));
    &:last-child {
      border-bottom: none;
    }
  }
  
  td:not(:last-child) {
    padding-right: 16px;
  }
}

@media (max-width: 100ch) {
  h1,h2,h3,h4,h5,h6 {
    font-size: 1.3rem;
  }
  body,a,code {
    font-size: 1.2rem;
  }
  header h1 a {
    font-size: 1.6rem;
  }
  .chip {
    font-size: 1.0rem;
  }
  ul {
    padding-inline-start: 16px;
  }
  .hero-container {
    & > * {
      border-right: none;
      &:not(:last-child) {
        padding-bottom: none;
      }
    }
  }
}
