---
import MainLayout from '../../layouts/MainLayout.astro'
import PostList from '../../components/PostList.astro'
import ResourceList from '../../components/ResourceList.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const tags = [...new Set(posts.flatMap(p => p.data.tags))]
  return tags.map(t => ({
    params: { tag: t },
  }))
}

const { tag } = Astro.params
---

<MainLayout title={`Tag: ${tag}`}>
  <article>
    <h1>Tag: <span class="smallcaps">{tag}</span></h1>
    <hr />
    <h2>Related Posts</h2>
    <PostList tag={tag} />
    <h2>Related Resources</h2>
    <ResourceList tag={tag} />
  </article>
</MainLayout>
