---
import MainLayout from '../../layouts/MainLayout.astro'
import PostList from '../../components/PostList.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const tags = [...new Set(posts.flatMap(p => p.data.tags))]
  return tags.map(t => ({
    params: { tag: t },
  }))
}

const { tag } = Astro.params
---

<MainLayout title={`Posts tagged ${tag}`}>
  <h2>Posts tagged {tag}</h2>
  <PostList tag={tag} />
</MainLayout>
