---
import MainLayout from '../layouts/MainLayout.astro'
import PostList from '../components/PostList.astro'
import ResourceList from '../components/ResourceList.astro'
import TagList from '../components/TagList.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
const allTags = [...new Set(posts.flatMap(x => x.data.tags))]
---

<MainLayout title='Home'>
  <article>
    <p>
      My place for writing about faith, technology, and visual design.
      All opinions are my own, and correct!
    </p>
    <h2>Recent Posts</h2>
    <p>
      Posts are one-time bursts of writing concentrated on a concise idea or project.
    </p>
    <PostList max={3} />
    <h2>Resources</h2>
    <p>
      Resource pages are ever-changing collections relating to a broader topic.
    </p>
    <ResourceList />
    <h2>Tags</h2>
    <TagList tags={allTags} />
    <h2>Social Presences</h2>
    <ul>
      <li><a href="https://github.com/EliasPrescott">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/elias-prescott">LinkedIn</a></li>
    </ul>
    <h2><a href='/recipes'>Recipes</a></h2>

    <hr />

    <figure>
      <blockquote>
        For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew first and also to the Greek.
      </blockquote>
      <figcaption>
        <cite>Romans 1:16 (ESV)</cite>
      </figcaption>
    </figure>

    <figure>
      <blockquote>
        For Jews demand signs and Greeks seek wisdom, but we preach Christ crucified, a stumbling block to Jews and folly to Gentiles, but to those who are called, both Jews and Greeks, Christ the power of God and the wisdom of God.
        For the foolishness of God is wiser than men, and the weakness of God is stronger than men.
      </blockquote>
      <figcaption>
        <cite>1 Corinthians 1:22-25 (ESV)</cite>
      </figcaption>
    </figure>

    <figure>
      <blockquote>
        Where we find a difficulty we may always expect that a discovery awaits us.
      </blockquote>
      <figcaption>
        <cite><a href="https://en.wikiquote.org/wiki/C._S._Lewis">C.S. Lewis</a></cite>
      </figcaption>
    </figure>

    <figure>
      <blockquote>
                 The free man is not he who thinks all opinions equally true or false; that is not freedom but feeble-mindedness. The free man is he who sees the errors as clearly as he sees the truth.
      </blockquote>
      <blockquote>
        There is no such thing on earth as an uninteresting subject; the only thing that can exist is an uninterested person.
      </blockquote>
      <figcaption>
        <cite><a href="https://www.chesterton.org/quotations/essential-chesterton/">G.K. Chesterton</a></cite>
      </figcaption>
    </figure>
  </article>
</MainLayout>
