---
import TagList from './TagList.astro'
import { getCollection } from 'astro:content'

const { tag } = Astro.props

let posts = await getCollection('blog')
if (tag) {
  posts = posts.filter(p => p.data.tags.includes(tag))
}
posts = posts.toSorted((a, b) => new Date(b.data.date) - new Date(a.data.date))
---

<ul>
  {posts.map(p => <li>
    <div class="post-link-holder">
      <a href={`/blog/${p.id}`} class="post-link">
        {p.data.title} ({p.data.date})
      </a>
    </div>
  </li>)}
</ul>
