---
import TagList from './TagList.astro'
import { getCollection } from 'astro:content'

const { tag } = Astro.props

let resources = await getCollection('resources')
resources = resources.toSorted((a, b) => b.data.title >= a.data.title)

if (tag) {
  resources = resources.filter(x => x.data.tags?.includes(tag))
}
---

<ul>
  {resources.map(x => <li>
    <div class="post-link-holder">
      <a href={`/resources/${x.id}`} class="post-link">
        {x.data.title} (updated {x.data.updated})
      </a>
    </div>
  </li>)}
</ul>
{resources.length === 0 && <p>No resources pages found.</p>}
