---
import { getCollection } from 'astro:content'

const { tags } = Astro.props
const posts = await getCollection('blog')
const resources = await getCollection('resources')

function tagPostCount(tag) {
  return posts.filter(x => x.data.tags.includes(tag)).length
    + resources.filter(x => x.data.tags.includes(tag)).length
}

const enhancedTags = tags
  .map(x => ({ tag: x, count: tagPostCount(x) }))
  .toSorted((a, b) => b.count - a.count || a.tag.localeCompare(b.tag))
---

<div class="tag-list">
  {enhancedTags.map(t => <a href={`/tags/${t.tag}`} class="chip primary">{t.tag}: {t.count}</a>)}
</div>
